[submodule "face_detection"]
	path = face_detection
	url = https://github.com/ibug-group/face_detection
[submodule "face_alignment"]
	path = face_alignment
	url = https://github.com/ibug-group/face_alignment
[submodule "emotion_recognition"]
	path = emotion_recognition
	url = https://github.com/ibug-group/emotion_recognition
